<div class="container">
  We strive to ensure that WannaBeNerd is a constructive, non-discriminatory and friendly place to discuss a wide variety of topics. To maintain a positive atmosphere and to promote constructive discussion, we ask that you adhere to the terms and conditions. As well as this, please consider the points below to ensure that the time you spend at WannaBeNerd is both enjoyable and productive.<br />
  <br />
  The community guidelines apply to all aspects of WannaBeNerd including: forum posts and private messages.<br />
  <br />
  <b><u>Contacting WannaBeNerd</u></b><br />
  <br />
  If you have any queries or comments regarding forum operations (including technical issues), please make use of the contact URL in the navigation. Every message is reviewed and we appreciate your feedback. Please be sure to include as much information as possible including URLs of the content to which you are referring and details of any error messages which may be showing on-screen.<br />
  <br />
  <b><u>Dealing with Inappropriate Content</u></b><br />
  <br />
  <b>Post Reporting</b><br />
  The forum is predominantly reactively moderated and we ask that forum members notify us of any inappropriate posts by clicking the <b>Flag</b> button next to the post in question. Please only alert posts which break the community guidelines and not just posts that you disagree with. <b>Please provide any relevant information in the reason for reporting textarea</b>.<br />
  <br />
  Please refrain from being overly emotive and using terms such as &quot;Excuse me?!?! I've been banned for less!&quot; - the key to effective alerting is to be clear and concise while supplying as much contextual information as possible. Abuse of the alert feature - whether for nonsensical reports or excessive use - can result in posting privileges being revoked.<br />
  <br />
  Try to avoid flagging really old posts that are no longer relevant to ongoing discussion. Chances are these posts have already been dealt with and alerting year old posts will constitute abusing the alert system. By all means contact us privately if you feel something is too inappropriate for public view and we will take action accordingly.<br />
  <br />
  Further, please don't 'add fuel to the fire' by saying &quot;I've reported you!&quot; or &quot;I got &lt;forum member Z&gt; banned&quot;.<br />
  <br />
  <b>Ignore</b><br />
  You can also add users to your ignore list which will prevent you from seeing any of their posts and messages they may send you. Please alert and ignore when you see a bad post.<br />
  <br />
  <b><u>The Rules</u></b><br />
  <br />
  <b>1.0 - Posting personal information</b><br />
  For your own safety, please do not reveal your personal information on the forums. This includes but is not limited to your full name, email address, postcodes, home address, phone numbers or personal social media accounts that you don't want to share with others.<br />
  <br />
  <b>1.2 - Privacy</b><br />
  Do not post personal email addresses, telephone numbers or other personal information on the forums. General contact information (that displayed on a company's 'Contact Us' page, for example) is fine.<br />
  <br />
  'Try emailing <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b6d0dfc4c5c2d8d7dbd398dad7c5c2d8d7dbd3f6c4d7d8d2d9dbd5d9dbc6d7d8cf98d5d998c3dd">[email&#160;protected]</a> and see if they can help you!' is not.<br />
  <br />
  Any attempts at doxxing or intentionally revealing personal information without consent could result in an immediate ban. This includes linking to personal or private social media accounts of other members without consent.<br />
  <br />
  <b>2.0 - Copyright</b><br />
  You agree and confirm that any contribution(s) and/or material you provide or upload, including but not limited to text, photographs and sound, is original to you and does not infringe UK laws, copyright, trade mark or other rights of any third party.<br />
  <br />
  You acknowledge that Hearst Magazines does not endorse the accuracy, integrity, copyright, compliance, legality, quality or decency of any contribution(s).<br />
  <br />
  Hearst Magazines respects the intellectual property of others, and we ask our users to do the same. Hearst Magazines may, in appropriate circumstances and at its discretion, terminate the access of users who infringe the copyright rights of Hearst Magazines and of others.<br />
  <br />
  <b>2.1 - Advertising, External Links &amp; Surveys</b><br />
  We only permit links to third-party sites when they are relevant to ongoing discussion. Any Users posting URLs of sites excessively or promoting their own websites, products or services in a way which could be construed as advertising are liable to have their right to post removed.<br />
  <br />
  If you wish to discuss advertising solutions, please <b><a href="http://www.hearst.co.uk/advertise" rel="nofollow">view our advertising contacts</a></b>.<br />
  <br />
  Please note that advertising via Private Message also applies and contacting members unsolicited to advertise will result in a ban.<br />
  <br />
  Due to the amount of students registering to post their dissertation questions or surveys, we no longer permit these and they will be removed as they don't promote any discussion.<br />
  <br />
  <b>2.2 - Potential Libel</b><br />
  Do not post libellous or defamatory comments.<br />
  <br />
  <b>3.0 - Offensive Material</b><br />
  WannaBeNerd forums is an inclusive community for all ethnicities, races, religions and genders. Our aim is to make each of our members feel welcome. We have a zero tolerance policy on posts that include, defend or dismiss hate speech, racism, homophobia, transphobia, biphobia, sexism and anything else that could be considered offensive. These types of comments have no place on our forums and will be dealt with swiftly.<br />
  <br />
  You must not post messages that are vulgar, crude and inappropriate by nature. This includes derogatory labels, generalisations and personal, intrusive or mean-spirited comments about the appearance or perceived habits or traits of other people or groups. We will not tolerate offensive, immature or unconstructive postings.<br />
  <br />
  Entering threads that deal with these topics to dismiss their importance or downplay issues of this nature will result in action being taken.<br />
  <br />
  '[BB Housemate X] is an ugly ****' '[Soap Actor Y] is a **** and should be fired!' aren't acceptable. '[BB Housemate Z] is irritating me. Why do they have to shriek so often?' is fine.<br />
  <br />
  <b>3.1 - Pornographic images/adult material</b><br />
  Posts containing links to adult content are not tolerated and are grounds for an immediate ban.<br />
  <br />
  <b>4.0 - Baiting</b><br />
  Don't wind people up to try to get them to say something in violation of the terms and conditions. It's obvious to other users and to us and we evaluate every post in the context of the thread. Deliberately making provocative comments or engaging in trolling behaviour will result in a ban. Baiting could also include naming or bringing up other members in discussions they're not involved in.<br />
  <br />
  <b>4.1 - Respect</b><br />
  While you are of course welcome to disagree with other members, we will not tolerate posts which insult, belittle, bait or otherwise antagonise forum members. This includes posts which disrespectfully label others posters using derogatory and dismissive terms including but not limited to 'fanboys', 'haters' or similar.<br />
  <br />
  <b>4.2 - Profanity</b><br />
  We understand that profanity is going to be used but we ask that it's not used excessively and only in forums that are appropriate. We have a language filter in place which should block terms deemed too offensive for use. Constantly evading this filter by masking letters with an asterisk, reversing letter order or substituting numbers for letters will likely result in a warning. If you are cursing in every post or are using curse words directed at other members it will result in a ban.<br />
  <br />
  'May have had a little too much to drink last night. I feel like shit!' would be fine. Posts such as 'You're a w*nker, I hate you!' and 'That makes no sense, piss off!' are not.<br />
  <br />
  <b>5.0 - Illegal activity</b><br />
  Discussions regarding illegal activities such as illegal downloading, streams of copyrighted content and methods of distributing copyrighted material for free are not permitted.<br />
  <br />
  <b>5.1 - Premium phone numbers</b><br />
  Due to regulations outlined by the Phone-paid Services Authority we are unable to permit the publication of premium rate numbers on the forum. Please do not go around the filter to post these.<br />
  <br />
  <b>6.0 - Disruption: Unconstructive, off-topic and pointless posts</b><br />
  Unconstructive posts are posts that contribute nothing to a thread. This includes:<br />
  <b>- Off-topic posts</b>: Try to avoid making comments that are not related to the topic of the thread you are currently in. Users intentionally attempting to deflect away from the topic of the thread will be warned. These types of posts are disruptive and often result in threads being derailed with the posts having to be removed.<br />
  <b>- Drive-by posts</b>: Deliberately entering a thread to post something provocative and then leaving is considered baiting. We recommend you make constructive, solid arguments for your posts if you wish to participate. We want to encourage productive discussion and ask that all users remain civil. It's perfectly fine to avoid a thread if you have nothing to contribute or the topic doesn't interest you.<br />
  <b>- Thread whining</b>: Do not enter threads to complain about the thread topic. Going into threads to say &quot;Who cares about this?!&quot;, &quot;Why is this thread allowed on the forum?!&quot;, &quot;Do we really need a thread on this?&quot; is considered disruptive. If you have no interest in a thread it would be better to avoid it. If you feel a thread is against the rules, is a duplicate or is unnecessary you can alert the thread and we will handle it accordingly.<br />
  <br />
  <b>6.1 - &quot;Where has my thread gone?&quot; &quot;Why was my post removed?&quot; &quot;Why was this member banned?&quot;</b><br />
  These are not questions that can be answered on the forum. Please contact us directly with your query regarding moderation via the link at the bottom of every page.<br />
  <br />
  Posts or threads questioning why other posts have vanished, threads closed or deleted, warnings or why users have been banned will be removed as they are unconstructive and only further disrupts threads. These are off-topic and are better asked privately via our contact link where we would be happy to respond.<br />
  <br />
  <b>6.2 - Disruption: Spoilers</b><br />
  Please be mindful of other forum members who may be trying to avoid spoilers. You may encase your post in tags where appropriate. Ignoring 'no spoilers' or ' pace' in thread titles is considered disruptive and will be dealt with as such.<br />
  <br />
  If you wish to discuss something without the use of spoiler tags we recommend a separate thread is made with (Spoiler Discussion) in the title.<br />
  <br />
  <b>6.3 - Disruption: Multiple Accounts</b><br />
  We allow one account per person. If there is more than one person using your computer or network to access the WannaBeNerd forums, please contact us so as to avoid any confusion further down the line. Registering an account after having been banned (temporarily or permanently) is not permitted and will result in all linked accounts being terminated. Repeatedly attempting to re-register after being banned could result in us blocking your IP or contacting your ISP to report abuse of service.<br />
  <br />
  <b>6.4 - Disruption: Bumping</b><br />
  Posting in old threads with little reason to do so is considered disruptive. If a thread has long since died a natural death, a fresh thread should be made if you wish to continue discussion.<br />
  <br />
  <b>6.5 - Disruption: Appreciation Threads</b><br />
  Appreciation threads are designed to allow fans of a particular subject to engage in positive and light-hearted discussion. Appreciation threads allow users to connect with each other and are designed to focus discussion. Whilst these threads should be inherently positive, different opinions are allowed and should be discussed in a civil manner. If it's clear a user isn't a fan of the thread subject and are posting to bait others then action will be taken. If you wish to discuss the subject of an appreciation thread you are welcome to post constructive negative comments in a separate thread.<br />
  <br />
  <b>7.0 - Proxy Services</b><br />
  We reserve the right to restrict forum access of users accessing WannaBeNerd via any anonymous proxy services or a VPN to prevent abuse / misuse of the site and protect our community. This could also include accounts that attempt to register on a public connection.<br />
  <br />
  <b><u>Other</u></b><br />
  <br />
  <b>Third-party Websites</b><br />
  <br />
  Be mindful of the links that you visit from within posts. We are not responsible nor liable for third-party websites.<br />
  <br />
  <b>Communicate clearly</b><br />
  <br />
  Try your hardest to communicate clearly: avoid using a large amount of 'txt spk'. We ask that all users post in English. We understand that every user will have different circumstances and we ask users to avoid correcting spelling and grammar as long as it is understandable. Avoid pointing out how bad another user's spelling is as this will derail threads, instead if you see a user making illegible posts please flag them and we will handle it accordingly.<br />
  <br />
  <b>Duplicate threads and cross-posting</b><br />
  <br />
  Before creating a new thread please carry out a brief search to see if your contribution could be made to an existing thread. Do not purposely duplicate threads or cross-post to multiple forums.<br />
  <br />
  <b>Post in the appropriate forum</b><br />
  <br />
  Check that you are posting in the right place. Do not, for example, create a thread regarding Music in the General Discussion forum just because you &quot;want more people to see it&quot;.<br />
  <br />
  <b>Game threads</b><br />
  <br />
  We know that a lot of forum members enjoy playing forum games and we have created subforums across the board where people can do so. The separate forums are in place so that those who do not wish to participate in games do not have to sift through a list of unconstructive or non-topical discussions to find what they are looking for. If you feel there is a particular forum which would benefit from the addition of a gaming subforum, please contact us.<br />
  <br />
  <b>Under 16s</b><br />
  <br />
  If you are under 16 years of age please obtain the permission of a parent or guardian before you register. Do not reveal any personal information on the forums or via PM including but not limited to surname, telephone number, school name, or email address.<br />
  <br />
  <b>Terms and Conditions</b><br />
  <br />
  Please take the time to review the <b><a href="http://www.hearst.co.uk/magazines/Terms-and-Conditions.html" rel="nofollow">terms and conditions</a></b> and consider how they apply to you when posting. These guidelines are by no means exhaustive and it is expected that this part of the document will grow with time to cover situations which regularly arise. If there is an area of the terms and conditions which you are unsure of, please get in touch via Contact Us and your comments will be passed to the forums manager for consideration.<br />
  <br />
  <b>Warnings and Banning Users</b><br />
  <br />
  The majority of WannaBeNerd users will never never break a rule outlined in our community guidelines or terms and conditions. We understand that discussions can sometimes get heated and this may result in a single warning as a reminder of our rules. We have a warning system in place to take action against users that contravene our guidelines that includes written warnings, account restrictions, temporary bans and ultimately permanent bans. If a user receives a warning they will be notified privately with a message outlining the reason for this being issued.<br />
  <br />
  Warnings can vary depending on the severity of the infraction but they will usually follow a set guideline which escalates with each notice. This is tiered as follows:<br />
  <br />
  <b>1. Level 1 Warning</b> - No account restrictions are implemented. This is a simple message to highlight the rule a user has broken. This is usually issued as a first notice for users who haven't been warned previously or if the rule break isn't severe.<br />
  <br />
  <b>2. Level 3 Warning</b> - Account is restricted. Unable to make new threads temporarily and posts are limited to once per 150 seconds. This is usually issued if a previous warning has been given, for repeated infractions, if the post in question is severe in nature or if the warning is based on an unproductive thread the user has made.<br />
  <br />
  <b>3. Level 5 Warning</b> - Account is temporarily banned. If a user repeatedly breaks the rules we may temporarily revoke their posting privileges. Temporary bans can be 48 hours or 7 days. This is usually dependent on the amount of previous warnings and the severity of the infractions. We understand that sometimes our members may just need some time away to reflect on their posts and hopefully with a break they can return with a better understanding of the community guidelines.<br />
  <br />
  <b>4. Permanent Ban</b> - Account is permanently banned and the user will no longer be able to use their account. If a user has received numerous warnings but persists to break the rules a permanent ban will be issued. A user may also receive a permanent ban for really severe infractions that are highlighted above as zero tolerance. It's compulsory for every user to adhere to these guidelines so if a new user registers to intentionally break our rules we will take this as the user having not read them and permanently ban the account.<br />
  <br />
  These tiers are by no means exhaustive and we will use discretion when necessary.<br />
  <br />
  Accumulating all warning levels will usually lead to the termination of your account the next time you are warned. The template could vary depending on how much time has passed since the last infraction but the average policy would be level 1 warning &gt; level 3 warning &gt; level 3 warning &gt; permanent ban. A temporary ban will only be issued in circumstances where it's deemed necessary and a user could be permanently banned without ever receiving a temporary ban.<br />
  <br />
  If you have any questions about our warning system please send a private message to <a href="https://forums.digitalspy.com/profile/Support" rel="nofollow">@Support</a> or email the forum team via the Contact Forum Support link at the bottom of the page
</div>