<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 45%;">NAME</th>
      <th scope="col" style="width: 15%;">STARTED BY</th>
      <th scope="col" style="width: 10%;">REPLIES</th>
      <th scope="col" style="width: 10%;">VIEWS</th>
      <th scope="col" style="width: 20%;">LAST COMMENT</th>
    </tr>
  </thead>
  <tbody [routerLink]="['/thread/view']">
    <tr *ngFor="let thread of threads" (click)="getThreadId(thread._id)">
      <td><b>{{ thread.thread_title}}</b> in <b><a routerLink="/thread/">{{ thread.thread_category }}</a></b></td>
      <td>{{ thread.thread_posts['user_id'] }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
