<h2>Recent Discussions</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 45%;">CATEGORIES</th>
        <th scope="col" style="width: 15%;">STARTED BY</th>
        <th scope="col" style="width: 10%;">REPLIES</th>
        <th scope="col" style="width: 10%;">VIEWS</th>
        <th scope="col" style="width: 20%;">LAST COMMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td></td>
      </tr>
    </tbody>
  </table>