
  <div class="welcomeText container">
    <h1>Hey there</h1>
    <p>Welcome to the WannaBeNerd forum. If you’d like to join in, please sign in or register.</p>
    <button type="button" class="btn btn-primary">Sign In</button>
    <button type="button" class="btn btn-primary">Register</button>
  </div>
  

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="forumCategory btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          MOVIES
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 40%;">CATEGORIES</th>
            <th scope="col" style="width: 15%;">DISCUSSIONS</th>
            <th scope="col" style="width: 15%;">COMMENTS</th>
            <th scope="col" style="width: 30%;">LATEST POST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="forumCategory btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          GAMES
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 40%;">CATEGORIES</th>
            <th scope="col" style="width: 15%;">DISCUSSIONS</th>
            <th scope="col" style="width: 15%;">COMMENTS</th>
            <th scope="col" style="width: 30%;">LATEST POST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="forumCategory btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          MUSIC
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 40%;">CATEGORIES</th>
            <th scope="col" style="width: 15%;">DISCUSSIONS</th>
            <th scope="col" style="width: 15%;">COMMENTS</th>
            <th scope="col" style="width: 30%;">LATEST POST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="forumCategory btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          NERDY STUFF
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 40%;">CATEGORIES</th>
            <th scope="col" style="width: 15%;">DISCUSSIONS</th>
            <th scope="col" style="width: 15%;">COMMENTS</th>
            <th scope="col" style="width: 30%;">LATEST POST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="forumCategory btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          PUNS
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 40%;">CATEGORIES</th>
            <th scope="col" style="width: 15%;">DISCUSSIONS</th>
            <th scope="col" style="width: 15%;">COMMENTS</th>
            <th scope="col" style="width: 30%;">LATEST POST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
